<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.letsencrypt</string>
	<key>UserName</key>
	<string>root</string>
	<key>ProgramArguments</key>
	<array>
		<string>certbot4mac</string>
		<string>renew</string>
		<string>DOMAIN.TLD</string>
                <string>/Library/Server/Web/Data/Sites/Default</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Minute</key>
		<integer>0</integer>
		<key>Hour</key>
		<integer>23</integer>
	</dict>
</dict>
</plist>
